/* FONTS */


/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

body{
    margin: 0 auto;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    box-shadow: none;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #f1ad1d;
    text-decoration: none;
}


.section-heading{
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.section-heading h2{
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 35px;
}

.section-heading p{
    color: #4d4943;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;  
    margin: 0 0 50px;
}

.section-heading hr{
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    box-shadow: none;
    border: none;
    margin: 0 auto;
}






.about-content_item{
    width: 573px;
    display: inline-block;
}

.images-item{
    box-sizing: border-box;
    display: inline-block;
    width: 270px;
    padding: 95px 138px 11px 13px;
    margin: 0;
    background: url(../img/about-us1.png) no-repeat center top / cover;
}

.images-item:nth-child(odd){
    margin-right: 28px;
}

.images-item:nth-child(n+3){
    margin-top: 23px;
}

.images-item_text{
    display: block;
    padding: 14px;
    background-color: #333333;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}


.about-content_item-text{
    box-sizing: border-box;
    padding-left: 28px;
    vertical-align: top;
}

.about-text_heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 26px;
    text-transform: uppercase;
}

.about-text_heading span{
    color: #f1ad1d;
}

.about-text_item{
    text-align: justify;
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding-bottom: 30px;
}

.btn-call{
    padding: 19px 27px;
}






.subscribe-form {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 768px;
    font-size: 0;

    
}


.subscribe-btn{
    padding: 22px 47px 22px;
    font-size: 17px;
    border: 1px solid #c7c7c7;
    border-left: none;
}

.subscribe-input{
    box-sizing: border-box;
    padding: 25px 30px;
    border: 1px solid #c7c7c7;
    border-right: none;
    width: 600px;
}







